# blink.service -- version: "17-Sep-2016"
# See https://github.com/henla464/WiRoc-Monitor
[Unit]
Description=blink: graceful shutdown and monitor service
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/blink.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
