[Unit]
Description=WiRoc-WatchDog: graceful shutdown and monitor service
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/chip/WiRoc-WatchDog
ExecStart=/home/chip/WiRoc-WatchDog/env/bin/python WiRoc-WatchDog.py
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
